/* 
Star animation css file
 */
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 493px 1821px #fff, 656px 1227px #fff, 491px 726px #fff,
    62px 1483px #fff, 412px 1909px #fff, 1234px 1364px #fff, 1621px 653px #fff,
    822px 686px #fff, 400px 1432px #fff, 878px 1047px #fff, 1041px 1056px #fff,
    819px 46px #fff, 1669px 1205px #fff, 1627px 145px #fff, 1860px 1174px #fff,
    880px 1542px #fff, 62px 1914px #fff, 1305px 1496px #fff, 1164px 1217px #fff,
    131px 1404px #fff, 1997px 1385px #fff, 1621px 145px #fff, 1034px 493px #fff,
    568px 518px #fff, 138px 716px #fff, 538px 691px #fff, 313px 1613px #fff,
    714px 841px #fff, 133px 1350px #fff, 1328px 1256px #fff, 81px 1846px #fff,
    850px 478px #fff, 1732px 652px #fff, 1376px 1513px #fff, 741px 1996px #fff,
    1506px 1322px #fff, 228px 1073px #fff, 614px 579px #fff, 623px 9px #fff,
    557px 973px #fff, 256px 651px #fff, 934px 217px #fff, 1431px 182px #fff,
    583px 1353px #fff, 1265px 698px #fff, 1588px 1959px #fff, 1701px 154px #fff,
    1783px 2000px #fff, 1550px 1299px #fff, 102px 1553px #fff, 1912px 827px #fff,
    1138px 305px #fff, 1117px 570px #fff, 1031px 1877px #fff, 139px 164px #fff,
    1576px 624px #fff, 1247px 1694px #fff, 142px 25px #fff, 1988px 882px #fff,
    379px 698px #fff, 1755px 792px #fff, 1715px 1316px #fff, 1041px 1776px #fff,
    812px 1566px #fff, 1731px 939px #fff, 453px 1185px #fff, 1747px 367px #fff,
    1063px 708px #fff, 572px 1138px #fff, 852px 1246px #fff, 1112px 45px #fff,
    740px 1500px #fff, 1632px 74px #fff, 894px 1409px #fff, 1342px 1639px #fff,
    1886px 262px #fff, 1572px 1153px #fff, 14px 1156px #fff, 1469px 1219px #fff,
    816px 863px #fff, 240px 229px #fff, 342px 1954px #fff, 1067px 418px #fff,
    424px 1423px #fff, 698px 673px #fff, 31px 489px #fff, 95px 489px #fff,
    244px 438px #fff, 1053px 1019px #fff, 212px 1368px #fff, 1340px 179px #fff,
    1636px 490px #fff, 1504px 1262px #fff, 732px 1573px #fff, 781px 1462px #fff,
    347px 836px #fff, 279px 747px #fff, 761px 1445px #fff, 1832px 135px #fff,
    1313px 1932px #fff, 754px 1833px #fff, 1984px 155px #fff, 524px 382px #fff,
    1851px 132px #fff, 210px 1282px #fff, 881px 618px #fff, 1447px 656px #fff,
    1702px 541px #fff, 1462px 1890px #fff, 1207px 1189px #fff, 1386px 778px #fff,
    1802px 405px #fff, 396px 1550px #fff, 44px 1701px #fff, 657px 1131px #fff,
    394px 239px #fff, 719px 649px #fff, 1568px 1342px #fff, 1668px 1101px #fff,
    1230px 904px #fff, 1032px 1469px #fff, 1354px 1129px #fff, 900px 228px #fff,
    1417px 1053px #fff, 566px 1121px #fff, 60px 1804px #fff, 1583px 1924px #fff,
    517px 2000px #fff, 1985px 1577px #fff, 1313px 1103px #fff,
    1120px 1616px #fff, 1847px 1991px #fff, 1880px 549px #fff, 1281px 339px #fff,
    1846px 857px #fff, 53px 429px #fff, 933px 2px #fff, 1924px 1662px #fff,
    190px 1982px #fff, 1545px 1992px #fff, 1648px 1124px #fff,
    1965px 1885px #fff, 716px 1688px #fff, 741px 1994px #fff, 423px 1948px #fff,
    364px 1524px #fff, 1343px 1691px #fff, 94px 428px #fff, 1505px 1143px #fff,
    762px 842px #fff, 703px 1882px #fff, 1134px 1557px #fff, 1075px 373px #fff,
    937px 355px #fff, 201px 1785px #fff, 1562px 991px #fff, 1568px 940px #fff,
    1741px 148px #fff, 1380px 1586px #fff, 732px 1626px #fff, 1976px 663px #fff,
    270px 1258px #fff, 1881px 1616px #fff, 343px 300px #fff, 1408px 272px #fff,
    651px 192px #fff, 1051px 1221px #fff, 1132px 965px #fff, 497px 1373px #fff,
    977px 1711px #fff, 1782px 1479px #fff, 443px 1336px #fff, 484px 1792px #fff,
    976px 578px #fff, 853px 1603px #fff, 1276px 354px #fff, 40px 523px #fff,
    1567px 141px #fff, 407px 1876px #fff, 259px 472px #fff, 1749px 1304px #fff,
    1791px 923px #fff, 39px 126px #fff, 428px 928px #fff, 1830px 1486px #fff,
    929px 1936px #fff, 1846px 1358px #fff, 86px 1214px #fff, 1401px 1928px #fff,
    56px 1280px #fff, 1298px 886px #fff, 1084px 585px #fff, 1804px 589px #fff,
    300px 44px #fff, 70px 1447px #fff, 1584px 1653px #fff, 1461px 431px #fff,
    505px 1860px #fff, 587px 1205px #fff, 1539px 1744px #fff, 372px 1067px #fff,
    1787px 1477px #fff, 1030px 1617px #fff, 453px 1464px #fff,
    1076px 1719px #fff, 116px 1148px #fff, 808px 1131px #fff, 1487px 1209px #fff,
    291px 1980px #fff, 659px 1321px #fff, 1628px 1031px #fff, 1491px 501px #fff,
    1878px 1584px #fff, 966px 179px #fff, 9px 346px #fff, 308px 1677px #fff,
    126px 1946px #fff, 232px 1279px #fff, 897px 1505px #fff, 258px 1265px #fff,
    1378px 1606px #fff, 863px 837px #fff, 302px 1928px #fff, 351px 505px #fff,
    1161px 134px #fff, 1610px 1572px #fff, 689px 744px #fff, 1161px 667px #fff,
    101px 345px #fff, 667px 1341px #fff, 1809px 308px #fff, 1133px 1756px #fff,
    1820px 405px #fff, 311px 744px #fff, 956px 812px #fff, 221px 485px #fff,
    982px 368px #fff, 995px 1766px #fff, 163px 1354px #fff, 450px 1039px #fff,
    557px 918px #fff, 567px 87px #fff, 1855px 1404px #fff, 1126px 584px #fff,
    424px 933px #fff, 1497px 1565px #fff, 1881px 911px #fff, 1290px 1833px #fff,
    1075px 1600px #fff, 1992px 948px #fff, 373px 591px #fff, 1331px 1392px #fff,
    1416px 605px #fff, 1284px 1488px #fff, 1265px 463px #fff, 1101px 1164px #fff,
    1755px 1839px #fff, 227px 1306px #fff, 710px 926px #fff, 458px 18px #fff,
    965px 1414px #fff, 308px 1326px #fff, 576px 69px #fff, 492px 42px #fff,
    973px 1413px #fff, 1078px 1720px #fff, 1307px 638px #fff, 46px 1924px #fff,
    1958px 1441px #fff, 327px 883px #fff, 1733px 355px #fff, 1343px 1326px #fff,
    517px 1022px #fff, 1769px 386px #fff, 116px 655px #fff, 1096px 424px #fff,
    1363px 912px #fff, 705px 396px #fff, 468px 1383px #fff, 629px 789px #fff,
    771px 1287px #fff, 1598px 214px #fff, 587px 1516px #fff, 229px 1523px #fff,
    93px 502px #fff, 1584px 1547px #fff, 827px 958px #fff, 1128px 830px #fff,
    1573px 655px #fff, 1399px 184px #fff, 842px 1180px #fff, 899px 594px #fff,
    1136px 321px #fff, 1636px 1572px #fff, 863px 486px #fff, 1355px 1012px #fff,
    1231px 160px #fff, 755px 741px #fff, 272px 846px #fff, 1328px 664px #fff,
    1408px 1058px #fff, 1117px 930px #fff, 155px 866px #fff, 1728px 655px #fff,
    1868px 1946px #fff, 1014px 591px #fff, 1348px 1794px #fff, 1862px 632px #fff,
    822px 253px #fff, 921px 1509px #fff, 926px 1956px #fff, 960px 1454px #fff,
    758px 652px #fff, 969px 1941px #fff, 1923px 1228px #fff, 962px 701px #fff,
    1229px 1973px #fff, 1579px 1624px #fff, 979px 313px #fff, 1761px 114px #fff,
    399px 474px #fff, 236px 900px #fff, 885px 55px #fff, 592px 1120px #fff,
    506px 631px #fff, 1812px 676px #fff, 1367px 14px #fff, 625px 1495px #fff,
    820px 121px #fff, 1143px 179px #fff, 488px 1755px #fff, 1907px 348px #fff,
    421px 652px #fff, 674px 1889px #fff, 686px 455px #fff, 1315px 410px #fff,
    881px 1325px #fff, 1804px 1668px #fff, 1484px 705px #fff, 1024px 89px #fff,
    719px 1101px #fff, 1634px 66px #fff, 40px 256px #fff, 1030px 1445px #fff,
    1389px 1881px #fff, 1676px 1036px #fff, 1813px 1899px #fff,
    121px 1782px #fff, 1182px 1091px #fff, 304px 985px #fff, 1313px 215px #fff,
    1417px 120px #fff, 1075px 140px #fff, 813px 1618px #fff, 282px 1074px #fff,
    1711px 1947px #fff, 1404px 658px #fff, 1573px 736px #fff, 546px 519px #fff,
    1412px 451px #fff, 1630px 918px #fff, 529px 1736px #fff, 1715px 1384px #fff,
    301px 1147px #fff, 1890px 271px #fff, 280px 906px #fff, 623px 262px #fff,
    546px 347px #fff, 1377px 1343px #fff, 269px 1469px #fff, 1792px 36px #fff,
    700px 693px #fff, 241px 530px #fff, 1077px 1140px #fff, 832px 687px #fff,
    1730px 500px #fff, 1625px 582px #fff, 1189px 1045px #fff, 1885px 125px #fff,
    787px 1178px #fff, 1798px 54px #fff, 1077px 1451px #fff, 92px 449px #fff,
    1096px 1201px #fff, 1607px 1724px #fff, 80px 1649px #fff, 1593px 1057px #fff,
    606px 1388px #fff, 1766px 1435px #fff, 1535px 676px #fff, 1355px 155px #fff,
    631px 445px #fff, 846px 1626px #fff, 580px 336px #fff, 1893px 347px #fff,
    1961px 867px #fff, 8px 16px #fff, 839px 182px #fff, 1244px 715px #fff,
    1219px 866px #fff, 429px 583px #fff, 1740px 1967px #fff, 1140px 607px #fff,
    1755px 1269px #fff, 1283px 1701px #fff, 398px 904px #fff, 710px 45px #fff,
    1770px 1609px #fff, 1445px 877px #fff, 1965px 724px #fff, 1592px 1157px #fff,
    1147px 1215px #fff, 1412px 1956px #fff, 1084px 217px #fff, 1967px 201px #fff,
    1152px 896px #fff, 1607px 502px #fff, 1816px 335px #fff, 501px 347px #fff,
    113px 434px #fff, 967px 708px #fff, 246px 357px #fff, 1173px 267px #fff,
    804px 1342px #fff, 1208px 68px #fff, 1950px 1481px #fff, 1153px 1498px #fff,
    1969px 1430px #fff, 450px 669px #fff, 1174px 1818px #fff, 622px 296px #fff,
    1617px 700px #fff, 697px 998px #fff, 1782px 1797px #fff, 932px 1581px #fff,
    113px 569px #fff, 155px 881px #fff, 91px 262px #fff, 1163px 85px #fff,
    1156px 518px #fff, 462px 450px #fff, 1315px 1568px #fff, 147px 1675px #fff,
    508px 233px #fff, 844px 562px #fff, 766px 841px #fff, 1872px 1775px #fff,
    787px 106px #fff, 1592px 1038px #fff, 1911px 822px #fff, 1662px 1741px #fff,
    1715px 1848px #fff, 1222px 273px #fff, 1175px 269px #fff, 909px 1516px #fff,
    1447px 1833px #fff, 1996px 188px #fff, 858px 894px #fff, 515px 1688px #fff,
    912px 1977px #fff, 214px 339px #fff, 118px 907px #fff, 391px 1484px #fff,
    1893px 654px #fff, 18px 1434px #fff, 792px 1307px #fff, 1472px 866px #fff,
    111px 1058px #fff, 193px 1240px #fff, 912px 1187px #fff, 1150px 1083px #fff,
    1541px 1716px #fff, 941px 1024px #fff, 1312px 1897px #fff, 1896px 821px #fff,
    87px 1434px #fff, 283px 414px #fff, 1912px 444px #fff, 260px 331px #fff,
    1723px 1513px #fff, 1055px 68px #fff, 1463px 729px #fff, 1188px 42px #fff,
    1207px 1194px #fff, 1262px 1535px #fff, 1308px 47px #fff, 1075px 830px #fff,
    1044px 1210px #fff, 1567px 1751px #fff, 1953px 451px #fff,
    1576px 1691px #fff, 1996px 1751px #fff, 850px 727px #fff, 1118px 1368px #fff,
    311px 1095px #fff, 329px 1972px #fff, 206px 1946px #fff, 1693px 1780px #fff,
    1756px 769px #fff, 1171px 833px #fff, 143px 1489px #fff, 1029px 679px #fff,
    1705px 1992px #fff, 890px 682px #fff, 510px 1365px #fff, 728px 1547px #fff,
    1066px 139px #fff, 1442px 1575px #fff, 722px 925px #fff, 1012px 623px #fff,
    37px 1272px #fff, 1961px 1408px #fff, 1754px 884px #fff, 911px 931px #fff,
    1572px 1916px #fff, 1818px 1733px #fff, 1686px 1516px #fff,
    1672px 1569px #fff, 1255px 699px #fff, 554px 1482px #fff, 350px 1589px #fff,
    161px 386px #fff, 854px 691px #fff, 198px 979px #fff, 1680px 1995px #fff,
    1961px 1417px #fff, 1870px 966px #fff, 1716px 1016px #fff, 1264px 899px #fff,
    1722px 178px #fff, 906px 123px #fff, 340px 24px #fff, 309px 1038px #fff,
    1588px 127px #fff, 1266px 166px #fff, 1908px 1358px #fff, 1676px 1606px #fff,
    104px 230px #fff, 558px 1229px #fff, 1494px 1273px #fff, 498px 159px #fff,
    1035px 1638px #fff, 406px 628px #fff, 556px 1431px #fff, 1487px 1410px #fff,
    391px 869px #fff, 1421px 1150px #fff, 795px 1105px #fff, 485px 1785px #fff,
    428px 538px #fff, 63px 87px #fff, 1505px 1436px #fff, 736px 1948px #fff,
    919px 1982px #fff, 471px 1451px #fff, 1278px 1724px #fff, 511px 1795px #fff,
    1178px 1473px #fff, 217px 1407px #fff, 572px 1683px #fff, 1336px 10px #fff,
    1211px 574px #fff, 1024px 963px #fff, 864px 1179px #fff, 887px 689px #fff,
    950px 1798px #fff, 160px 388px #fff, 542px 16px #fff, 1052px 526px #fff,
    951px 1618px #fff, 1511px 663px #fff, 80px 1945px #fff, 121px 342px #fff,
    935px 1104px #fff, 1858px 594px #fff, 798px 422px #fff, 479px 205px #fff,
    1955px 386px #fff, 1555px 1439px #fff, 816px 92px #fff, 408px 937px #fff,
    529px 1505px #fff, 1316px 1147px #fff, 1612px 1447px #fff, 1249px 637px #fff,
    13px 340px #fff, 1411px 1692px #fff, 368px 1129px #fff, 693px 1456px #fff,
    1144px 1541px #fff, 1473px 721px #fff, 2000px 325px #fff, 777px 235px #fff,
    1226px 1949px #fff, 682px 16px #fff, 309px 1403px #fff, 278px 469px #fff,
    1007px 771px #fff, 218px 532px #fff, 80px 834px #fff, 590px 238px #fff,
    322px 525px #fff, 431px 1324px #fff, 1635px 1565px #fff, 860px 1231px #fff,
    772px 646px #fff, 167px 988px #fff, 1627px 1560px #fff, 1967px 1188px #fff,
    1436px 1010px #fff, 1169px 483px #fff, 844px 304px #fff, 1085px 1922px #fff,
    92px 212px #fff, 1140px 1142px #fff, 1382px 1638px #fff, 811px 1351px #fff,
    314px 625px #fff, 994px 1438px #fff, 1232px 1523px #fff, 977px 1748px #fff,
    744px 1578px #fff, 1391px 888px #fff, 1730px 1647px #fff, 1361px 974px #fff,
    30px 439px #fff, 1304px 358px #fff, 1937px 1624px #fff, 1984px 282px #fff,
    1185px 1603px #fff, 1672px 1998px #fff, 808px 351px #fff, 89px 759px #fff,
    1643px 987px #fff, 808px 900px #fff, 558px 385px #fff, 1099px 567px #fff,
    1603px 1185px #fff, 15px 598px #fff, 1786px 501px #fff, 1236px 944px #fff,
    1656px 949px #fff, 714px 1377px #fff, 1370px 403px #fff, 490px 818px #fff,
    1348px 1371px #fff, 1324px 766px #fff, 551px 1267px #fff, 1245px 1373px #fff,
    1587px 860px #fff, 887px 1847px #fff, 954px 631px #fff, 377px 1202px #fff,
    140px 1137px #fff, 1621px 271px #fff, 272px 1904px #fff, 1092px 790px #fff,
    371px 1951px #fff, 720px 1286px #fff, 643px 563px #fff, 1429px 1324px #fff,
    1548px 196px #fff, 230px 112px #fff, 1061px 1925px #fff, 508px 1379px #fff,
    894px 154px #fff, 1921px 1476px #fff, 363px 1051px #fff, 833px 757px #fff,
    1766px 1290px #fff, 1409px 545px #fff, 1007px 656px #fff, 1209px 132px #fff,
    117px 165px #fff, 722px 480px #fff, 1355px 632px #fff, 1815px 352px #fff,
    195px 949px #fff, 1917px 424px #fff, 38px 467px #fff, 1327px 1150px #fff,
    1482px 1395px #fff, 141px 1085px #fff, 1844px 1539px #fff, 157px 1867px #fff,
    1358px 1247px #fff, 1918px 889px #fff, 1300px 384px #fff, 969px 1318px #fff,
    1488px 143px #fff, 936px 866px #fff, 616px 809px #fff, 1920px 791px #fff,
    1054px 1473px #fff, 762px 444px #fff, 1566px 1494px #fff, 560px 1797px #fff,
    913px 642px #fff, 1760px 403px #fff, 921px 1465px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 493px 1821px #fff, 656px 1227px #fff, 491px 726px #fff,
    62px 1483px #fff, 412px 1909px #fff, 1234px 1364px #fff, 1621px 653px #fff,
    822px 686px #fff, 400px 1432px #fff, 878px 1047px #fff, 1041px 1056px #fff,
    819px 46px #fff, 1669px 1205px #fff, 1627px 145px #fff, 1860px 1174px #fff,
    880px 1542px #fff, 62px 1914px #fff, 1305px 1496px #fff, 1164px 1217px #fff,
    131px 1404px #fff, 1997px 1385px #fff, 1621px 145px #fff, 1034px 493px #fff,
    568px 518px #fff, 138px 716px #fff, 538px 691px #fff, 313px 1613px #fff,
    714px 841px #fff, 133px 1350px #fff, 1328px 1256px #fff, 81px 1846px #fff,
    850px 478px #fff, 1732px 652px #fff, 1376px 1513px #fff, 741px 1996px #fff,
    1506px 1322px #fff, 228px 1073px #fff, 614px 579px #fff, 623px 9px #fff,
    557px 973px #fff, 256px 651px #fff, 934px 217px #fff, 1431px 182px #fff,
    583px 1353px #fff, 1265px 698px #fff, 1588px 1959px #fff, 1701px 154px #fff,
    1783px 2000px #fff, 1550px 1299px #fff, 102px 1553px #fff, 1912px 827px #fff,
    1138px 305px #fff, 1117px 570px #fff, 1031px 1877px #fff, 139px 164px #fff,
    1576px 624px #fff, 1247px 1694px #fff, 142px 25px #fff, 1988px 882px #fff,
    379px 698px #fff, 1755px 792px #fff, 1715px 1316px #fff, 1041px 1776px #fff,
    812px 1566px #fff, 1731px 939px #fff, 453px 1185px #fff, 1747px 367px #fff,
    1063px 708px #fff, 572px 1138px #fff, 852px 1246px #fff, 1112px 45px #fff,
    740px 1500px #fff, 1632px 74px #fff, 894px 1409px #fff, 1342px 1639px #fff,
    1886px 262px #fff, 1572px 1153px #fff, 14px 1156px #fff, 1469px 1219px #fff,
    816px 863px #fff, 240px 229px #fff, 342px 1954px #fff, 1067px 418px #fff,
    424px 1423px #fff, 698px 673px #fff, 31px 489px #fff, 95px 489px #fff,
    244px 438px #fff, 1053px 1019px #fff, 212px 1368px #fff, 1340px 179px #fff,
    1636px 490px #fff, 1504px 1262px #fff, 732px 1573px #fff, 781px 1462px #fff,
    347px 836px #fff, 279px 747px #fff, 761px 1445px #fff, 1832px 135px #fff,
    1313px 1932px #fff, 754px 1833px #fff, 1984px 155px #fff, 524px 382px #fff,
    1851px 132px #fff, 210px 1282px #fff, 881px 618px #fff, 1447px 656px #fff,
    1702px 541px #fff, 1462px 1890px #fff, 1207px 1189px #fff, 1386px 778px #fff,
    1802px 405px #fff, 396px 1550px #fff, 44px 1701px #fff, 657px 1131px #fff,
    394px 239px #fff, 719px 649px #fff, 1568px 1342px #fff, 1668px 1101px #fff,
    1230px 904px #fff, 1032px 1469px #fff, 1354px 1129px #fff, 900px 228px #fff,
    1417px 1053px #fff, 566px 1121px #fff, 60px 1804px #fff, 1583px 1924px #fff,
    517px 2000px #fff, 1985px 1577px #fff, 1313px 1103px #fff,
    1120px 1616px #fff, 1847px 1991px #fff, 1880px 549px #fff, 1281px 339px #fff,
    1846px 857px #fff, 53px 429px #fff, 933px 2px #fff, 1924px 1662px #fff,
    190px 1982px #fff, 1545px 1992px #fff, 1648px 1124px #fff,
    1965px 1885px #fff, 716px 1688px #fff, 741px 1994px #fff, 423px 1948px #fff,
    364px 1524px #fff, 1343px 1691px #fff, 94px 428px #fff, 1505px 1143px #fff,
    762px 842px #fff, 703px 1882px #fff, 1134px 1557px #fff, 1075px 373px #fff,
    937px 355px #fff, 201px 1785px #fff, 1562px 991px #fff, 1568px 940px #fff,
    1741px 148px #fff, 1380px 1586px #fff, 732px 1626px #fff, 1976px 663px #fff,
    270px 1258px #fff, 1881px 1616px #fff, 343px 300px #fff, 1408px 272px #fff,
    651px 192px #fff, 1051px 1221px #fff, 1132px 965px #fff, 497px 1373px #fff,
    977px 1711px #fff, 1782px 1479px #fff, 443px 1336px #fff, 484px 1792px #fff,
    976px 578px #fff, 853px 1603px #fff, 1276px 354px #fff, 40px 523px #fff,
    1567px 141px #fff, 407px 1876px #fff, 259px 472px #fff, 1749px 1304px #fff,
    1791px 923px #fff, 39px 126px #fff, 428px 928px #fff, 1830px 1486px #fff,
    929px 1936px #fff, 1846px 1358px #fff, 86px 1214px #fff, 1401px 1928px #fff,
    56px 1280px #fff, 1298px 886px #fff, 1084px 585px #fff, 1804px 589px #fff,
    300px 44px #fff, 70px 1447px #fff, 1584px 1653px #fff, 1461px 431px #fff,
    505px 1860px #fff, 587px 1205px #fff, 1539px 1744px #fff, 372px 1067px #fff,
    1787px 1477px #fff, 1030px 1617px #fff, 453px 1464px #fff,
    1076px 1719px #fff, 116px 1148px #fff, 808px 1131px #fff, 1487px 1209px #fff,
    291px 1980px #fff, 659px 1321px #fff, 1628px 1031px #fff, 1491px 501px #fff,
    1878px 1584px #fff, 966px 179px #fff, 9px 346px #fff, 308px 1677px #fff,
    126px 1946px #fff, 232px 1279px #fff, 897px 1505px #fff, 258px 1265px #fff,
    1378px 1606px #fff, 863px 837px #fff, 302px 1928px #fff, 351px 505px #fff,
    1161px 134px #fff, 1610px 1572px #fff, 689px 744px #fff, 1161px 667px #fff,
    101px 345px #fff, 667px 1341px #fff, 1809px 308px #fff, 1133px 1756px #fff,
    1820px 405px #fff, 311px 744px #fff, 956px 812px #fff, 221px 485px #fff,
    982px 368px #fff, 995px 1766px #fff, 163px 1354px #fff, 450px 1039px #fff,
    557px 918px #fff, 567px 87px #fff, 1855px 1404px #fff, 1126px 584px #fff,
    424px 933px #fff, 1497px 1565px #fff, 1881px 911px #fff, 1290px 1833px #fff,
    1075px 1600px #fff, 1992px 948px #fff, 373px 591px #fff, 1331px 1392px #fff,
    1416px 605px #fff, 1284px 1488px #fff, 1265px 463px #fff, 1101px 1164px #fff,
    1755px 1839px #fff, 227px 1306px #fff, 710px 926px #fff, 458px 18px #fff,
    965px 1414px #fff, 308px 1326px #fff, 576px 69px #fff, 492px 42px #fff,
    973px 1413px #fff, 1078px 1720px #fff, 1307px 638px #fff, 46px 1924px #fff,
    1958px 1441px #fff, 327px 883px #fff, 1733px 355px #fff, 1343px 1326px #fff,
    517px 1022px #fff, 1769px 386px #fff, 116px 655px #fff, 1096px 424px #fff,
    1363px 912px #fff, 705px 396px #fff, 468px 1383px #fff, 629px 789px #fff,
    771px 1287px #fff, 1598px 214px #fff, 587px 1516px #fff, 229px 1523px #fff,
    93px 502px #fff, 1584px 1547px #fff, 827px 958px #fff, 1128px 830px #fff,
    1573px 655px #fff, 1399px 184px #fff, 842px 1180px #fff, 899px 594px #fff,
    1136px 321px #fff, 1636px 1572px #fff, 863px 486px #fff, 1355px 1012px #fff,
    1231px 160px #fff, 755px 741px #fff, 272px 846px #fff, 1328px 664px #fff,
    1408px 1058px #fff, 1117px 930px #fff, 155px 866px #fff, 1728px 655px #fff,
    1868px 1946px #fff, 1014px 591px #fff, 1348px 1794px #fff, 1862px 632px #fff,
    822px 253px #fff, 921px 1509px #fff, 926px 1956px #fff, 960px 1454px #fff,
    758px 652px #fff, 969px 1941px #fff, 1923px 1228px #fff, 962px 701px #fff,
    1229px 1973px #fff, 1579px 1624px #fff, 979px 313px #fff, 1761px 114px #fff,
    399px 474px #fff, 236px 900px #fff, 885px 55px #fff, 592px 1120px #fff,
    506px 631px #fff, 1812px 676px #fff, 1367px 14px #fff, 625px 1495px #fff,
    820px 121px #fff, 1143px 179px #fff, 488px 1755px #fff, 1907px 348px #fff,
    421px 652px #fff, 674px 1889px #fff, 686px 455px #fff, 1315px 410px #fff,
    881px 1325px #fff, 1804px 1668px #fff, 1484px 705px #fff, 1024px 89px #fff,
    719px 1101px #fff, 1634px 66px #fff, 40px 256px #fff, 1030px 1445px #fff,
    1389px 1881px #fff, 1676px 1036px #fff, 1813px 1899px #fff,
    121px 1782px #fff, 1182px 1091px #fff, 304px 985px #fff, 1313px 215px #fff,
    1417px 120px #fff, 1075px 140px #fff, 813px 1618px #fff, 282px 1074px #fff,
    1711px 1947px #fff, 1404px 658px #fff, 1573px 736px #fff, 546px 519px #fff,
    1412px 451px #fff, 1630px 918px #fff, 529px 1736px #fff, 1715px 1384px #fff,
    301px 1147px #fff, 1890px 271px #fff, 280px 906px #fff, 623px 262px #fff,
    546px 347px #fff, 1377px 1343px #fff, 269px 1469px #fff, 1792px 36px #fff,
    700px 693px #fff, 241px 530px #fff, 1077px 1140px #fff, 832px 687px #fff,
    1730px 500px #fff, 1625px 582px #fff, 1189px 1045px #fff, 1885px 125px #fff,
    787px 1178px #fff, 1798px 54px #fff, 1077px 1451px #fff, 92px 449px #fff,
    1096px 1201px #fff, 1607px 1724px #fff, 80px 1649px #fff, 1593px 1057px #fff,
    606px 1388px #fff, 1766px 1435px #fff, 1535px 676px #fff, 1355px 155px #fff,
    631px 445px #fff, 846px 1626px #fff, 580px 336px #fff, 1893px 347px #fff,
    1961px 867px #fff, 8px 16px #fff, 839px 182px #fff, 1244px 715px #fff,
    1219px 866px #fff, 429px 583px #fff, 1740px 1967px #fff, 1140px 607px #fff,
    1755px 1269px #fff, 1283px 1701px #fff, 398px 904px #fff, 710px 45px #fff,
    1770px 1609px #fff, 1445px 877px #fff, 1965px 724px #fff, 1592px 1157px #fff,
    1147px 1215px #fff, 1412px 1956px #fff, 1084px 217px #fff, 1967px 201px #fff,
    1152px 896px #fff, 1607px 502px #fff, 1816px 335px #fff, 501px 347px #fff,
    113px 434px #fff, 967px 708px #fff, 246px 357px #fff, 1173px 267px #fff,
    804px 1342px #fff, 1208px 68px #fff, 1950px 1481px #fff, 1153px 1498px #fff,
    1969px 1430px #fff, 450px 669px #fff, 1174px 1818px #fff, 622px 296px #fff,
    1617px 700px #fff, 697px 998px #fff, 1782px 1797px #fff, 932px 1581px #fff,
    113px 569px #fff, 155px 881px #fff, 91px 262px #fff, 1163px 85px #fff,
    1156px 518px #fff, 462px 450px #fff, 1315px 1568px #fff, 147px 1675px #fff,
    508px 233px #fff, 844px 562px #fff, 766px 841px #fff, 1872px 1775px #fff,
    787px 106px #fff, 1592px 1038px #fff, 1911px 822px #fff, 1662px 1741px #fff,
    1715px 1848px #fff, 1222px 273px #fff, 1175px 269px #fff, 909px 1516px #fff,
    1447px 1833px #fff, 1996px 188px #fff, 858px 894px #fff, 515px 1688px #fff,
    912px 1977px #fff, 214px 339px #fff, 118px 907px #fff, 391px 1484px #fff,
    1893px 654px #fff, 18px 1434px #fff, 792px 1307px #fff, 1472px 866px #fff,
    111px 1058px #fff, 193px 1240px #fff, 912px 1187px #fff, 1150px 1083px #fff,
    1541px 1716px #fff, 941px 1024px #fff, 1312px 1897px #fff, 1896px 821px #fff,
    87px 1434px #fff, 283px 414px #fff, 1912px 444px #fff, 260px 331px #fff,
    1723px 1513px #fff, 1055px 68px #fff, 1463px 729px #fff, 1188px 42px #fff,
    1207px 1194px #fff, 1262px 1535px #fff, 1308px 47px #fff, 1075px 830px #fff,
    1044px 1210px #fff, 1567px 1751px #fff, 1953px 451px #fff,
    1576px 1691px #fff, 1996px 1751px #fff, 850px 727px #fff, 1118px 1368px #fff,
    311px 1095px #fff, 329px 1972px #fff, 206px 1946px #fff, 1693px 1780px #fff,
    1756px 769px #fff, 1171px 833px #fff, 143px 1489px #fff, 1029px 679px #fff,
    1705px 1992px #fff, 890px 682px #fff, 510px 1365px #fff, 728px 1547px #fff,
    1066px 139px #fff, 1442px 1575px #fff, 722px 925px #fff, 1012px 623px #fff,
    37px 1272px #fff, 1961px 1408px #fff, 1754px 884px #fff, 911px 931px #fff,
    1572px 1916px #fff, 1818px 1733px #fff, 1686px 1516px #fff,
    1672px 1569px #fff, 1255px 699px #fff, 554px 1482px #fff, 350px 1589px #fff,
    161px 386px #fff, 854px 691px #fff, 198px 979px #fff, 1680px 1995px #fff,
    1961px 1417px #fff, 1870px 966px #fff, 1716px 1016px #fff, 1264px 899px #fff,
    1722px 178px #fff, 906px 123px #fff, 340px 24px #fff, 309px 1038px #fff,
    1588px 127px #fff, 1266px 166px #fff, 1908px 1358px #fff, 1676px 1606px #fff,
    104px 230px #fff, 558px 1229px #fff, 1494px 1273px #fff, 498px 159px #fff,
    1035px 1638px #fff, 406px 628px #fff, 556px 1431px #fff, 1487px 1410px #fff,
    391px 869px #fff, 1421px 1150px #fff, 795px 1105px #fff, 485px 1785px #fff,
    428px 538px #fff, 63px 87px #fff, 1505px 1436px #fff, 736px 1948px #fff,
    919px 1982px #fff, 471px 1451px #fff, 1278px 1724px #fff, 511px 1795px #fff,
    1178px 1473px #fff, 217px 1407px #fff, 572px 1683px #fff, 1336px 10px #fff,
    1211px 574px #fff, 1024px 963px #fff, 864px 1179px #fff, 887px 689px #fff,
    950px 1798px #fff, 160px 388px #fff, 542px 16px #fff, 1052px 526px #fff,
    951px 1618px #fff, 1511px 663px #fff, 80px 1945px #fff, 121px 342px #fff,
    935px 1104px #fff, 1858px 594px #fff, 798px 422px #fff, 479px 205px #fff,
    1955px 386px #fff, 1555px 1439px #fff, 816px 92px #fff, 408px 937px #fff,
    529px 1505px #fff, 1316px 1147px #fff, 1612px 1447px #fff, 1249px 637px #fff,
    13px 340px #fff, 1411px 1692px #fff, 368px 1129px #fff, 693px 1456px #fff,
    1144px 1541px #fff, 1473px 721px #fff, 2000px 325px #fff, 777px 235px #fff,
    1226px 1949px #fff, 682px 16px #fff, 309px 1403px #fff, 278px 469px #fff,
    1007px 771px #fff, 218px 532px #fff, 80px 834px #fff, 590px 238px #fff,
    322px 525px #fff, 431px 1324px #fff, 1635px 1565px #fff, 860px 1231px #fff,
    772px 646px #fff, 167px 988px #fff, 1627px 1560px #fff, 1967px 1188px #fff,
    1436px 1010px #fff, 1169px 483px #fff, 844px 304px #fff, 1085px 1922px #fff,
    92px 212px #fff, 1140px 1142px #fff, 1382px 1638px #fff, 811px 1351px #fff,
    314px 625px #fff, 994px 1438px #fff, 1232px 1523px #fff, 977px 1748px #fff,
    744px 1578px #fff, 1391px 888px #fff, 1730px 1647px #fff, 1361px 974px #fff,
    30px 439px #fff, 1304px 358px #fff, 1937px 1624px #fff, 1984px 282px #fff,
    1185px 1603px #fff, 1672px 1998px #fff, 808px 351px #fff, 89px 759px #fff,
    1643px 987px #fff, 808px 900px #fff, 558px 385px #fff, 1099px 567px #fff,
    1603px 1185px #fff, 15px 598px #fff, 1786px 501px #fff, 1236px 944px #fff,
    1656px 949px #fff, 714px 1377px #fff, 1370px 403px #fff, 490px 818px #fff,
    1348px 1371px #fff, 1324px 766px #fff, 551px 1267px #fff, 1245px 1373px #fff,
    1587px 860px #fff, 887px 1847px #fff, 954px 631px #fff, 377px 1202px #fff,
    140px 1137px #fff, 1621px 271px #fff, 272px 1904px #fff, 1092px 790px #fff,
    371px 1951px #fff, 720px 1286px #fff, 643px 563px #fff, 1429px 1324px #fff,
    1548px 196px #fff, 230px 112px #fff, 1061px 1925px #fff, 508px 1379px #fff,
    894px 154px #fff, 1921px 1476px #fff, 363px 1051px #fff, 833px 757px #fff,
    1766px 1290px #fff, 1409px 545px #fff, 1007px 656px #fff, 1209px 132px #fff,
    117px 165px #fff, 722px 480px #fff, 1355px 632px #fff, 1815px 352px #fff,
    195px 949px #fff, 1917px 424px #fff, 38px 467px #fff, 1327px 1150px #fff,
    1482px 1395px #fff, 141px 1085px #fff, 1844px 1539px #fff, 157px 1867px #fff,
    1358px 1247px #fff, 1918px 889px #fff, 1300px 384px #fff, 969px 1318px #fff,
    1488px 143px #fff, 936px 866px #fff, 616px 809px #fff, 1920px 791px #fff,
    1054px 1473px #fff, 762px 444px #fff, 1566px 1494px #fff, 560px 1797px #fff,
    913px 642px #fff, 1760px 403px #fff, 921px 1465px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1771px 1156px #fff, 783px 1669px #fff, 1586px 496px #fff,
    1515px 564px #fff, 1886px 1408px #fff, 118px 1047px #fff, 107px 1157px #fff,
    1892px 1498px #fff, 1219px 119px #fff, 1235px 1338px #fff,
    1431px 1044px #fff, 622px 508px #fff, 1067px 1422px #fff, 190px 1125px #fff,
    601px 986px #fff, 1705px 961px #fff, 12px 1418px #fff, 1722px 1738px #fff,
    1145px 927px #fff, 1042px 439px #fff, 1896px 1508px #fff, 742px 1255px #fff,
    123px 301px #fff, 1636px 230px #fff, 981px 480px #fff, 810px 1670px #fff,
    1185px 503px #fff, 42px 320px #fff, 1610px 1105px #fff, 1079px 1571px #fff,
    1581px 1697px #fff, 288px 154px #fff, 1556px 637px #fff, 1471px 661px #fff,
    1453px 1561px #fff, 1783px 96px #fff, 788px 1052px #fff, 634px 488px #fff,
    800px 942px #fff, 807px 527px #fff, 690px 1166px #fff, 1124px 760px #fff,
    712px 1157px #fff, 730px 1712px #fff, 1690px 1147px #fff, 649px 1713px #fff,
    1466px 244px #fff, 875px 1503px #fff, 1320px 434px #fff, 364px 1727px #fff,
    375px 1083px #fff, 78px 1765px #fff, 1552px 107px #fff, 1484px 777px #fff,
    1233px 1221px #fff, 1397px 1710px #fff, 67px 793px #fff, 893px 1084px #fff,
    1133px 663px #fff, 1303px 1771px #fff, 1379px 364px #fff, 1427px 1226px #fff,
    934px 1636px #fff, 534px 816px #fff, 1449px 300px #fff, 1200px 650px #fff,
    415px 889px #fff, 1149px 845px #fff, 140px 533px #fff, 1421px 219px #fff,
    728px 1388px #fff, 1829px 1602px #fff, 945px 618px #fff, 991px 1188px #fff,
    729px 113px #fff, 322px 1272px #fff, 1569px 433px #fff, 100px 1193px #fff,
    1393px 546px #fff, 671px 299px #fff, 405px 1659px #fff, 799px 1078px #fff,
    1051px 834px #fff, 1441px 407px #fff, 1363px 193px #fff, 1586px 1913px #fff,
    1888px 418px #fff, 152px 920px #fff, 139px 793px #fff, 894px 610px #fff,
    166px 456px #fff, 1564px 267px #fff, 295px 397px #fff, 1517px 876px #fff,
    1690px 999px #fff, 486px 1993px #fff, 1874px 1432px #fff, 1875px 1164px #fff,
    572px 1344px #fff, 656px 1322px #fff, 271px 355px #fff, 1933px 95px #fff,
    1845px 644px #fff, 1345px 1377px #fff, 309px 54px #fff, 1965px 1518px #fff,
    981px 549px #fff, 773px 535px #fff, 937px 390px #fff, 930px 1374px #fff,
    1565px 792px #fff, 771px 747px #fff, 1833px 1557px #fff, 305px 980px #fff,
    321px 1525px #fff, 1112px 582px #fff, 550px 1868px #fff, 1344px 725px #fff,
    1523px 256px #fff, 493px 1164px #fff, 848px 1389px #fff, 571px 1560px #fff,
    905px 852px #fff, 1405px 376px #fff, 1913px 284px #fff, 188px 938px #fff,
    833px 1503px #fff, 818px 1699px #fff, 1698px 1494px #fff, 910px 878px #fff,
    1263px 114px #fff, 390px 1667px #fff, 1301px 1151px #fff, 1343px 1123px #fff,
    1063px 29px #fff, 387px 1248px #fff, 474px 939px #fff, 472px 284px #fff,
    584px 740px #fff, 29px 414px #fff, 1674px 721px #fff, 742px 243px #fff,
    994px 1803px #fff, 1674px 1334px #fff, 1211px 1454px #fff,
    1878px 1216px #fff, 1590px 1381px #fff, 770px 911px #fff, 1400px 1849px #fff,
    717px 769px #fff, 155px 221px #fff, 1501px 1341px #fff, 70px 1028px #fff,
    1761px 1836px #fff, 1312px 651px #fff, 1705px 1096px #fff, 9px 881px #fff,
    532px 1579px #fff, 1719px 1109px #fff, 1505px 1129px #fff, 484px 1369px #fff,
    1432px 742px #fff, 1900px 907px #fff, 216px 1225px #fff, 1325px 828px #fff,
    1562px 74px #fff, 490px 1762px #fff, 1709px 244px #fff, 1954px 1053px #fff,
    1802px 1972px #fff, 958px 1824px #fff, 541px 1953px #fff, 878px 1399px #fff,
    723px 1792px #fff, 360px 181px #fff, 265px 965px #fff, 1011px 643px #fff,
    1582px 337px #fff, 1180px 1713px #fff, 112px 1611px #fff, 1052px 1334px #fff,
    583px 700px #fff, 1068px 1030px #fff, 1420px 1678px #fff, 443px 1475px #fff,
    935px 1084px #fff, 1859px 849px #fff, 1996px 344px #fff, 1989px 1253px #fff,
    326px 728px #fff, 61px 217px #fff, 700px 231px #fff, 1225px 1875px #fff,
    984px 667px #fff, 632px 1858px #fff, 638px 33px #fff, 731px 1665px #fff,
    747px 1279px #fff, 1256px 83px #fff, 1873px 336px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1771px 1156px #fff, 783px 1669px #fff, 1586px 496px #fff,
    1515px 564px #fff, 1886px 1408px #fff, 118px 1047px #fff, 107px 1157px #fff,
    1892px 1498px #fff, 1219px 119px #fff, 1235px 1338px #fff,
    1431px 1044px #fff, 622px 508px #fff, 1067px 1422px #fff, 190px 1125px #fff,
    601px 986px #fff, 1705px 961px #fff, 12px 1418px #fff, 1722px 1738px #fff,
    1145px 927px #fff, 1042px 439px #fff, 1896px 1508px #fff, 742px 1255px #fff,
    123px 301px #fff, 1636px 230px #fff, 981px 480px #fff, 810px 1670px #fff,
    1185px 503px #fff, 42px 320px #fff, 1610px 1105px #fff, 1079px 1571px #fff,
    1581px 1697px #fff, 288px 154px #fff, 1556px 637px #fff, 1471px 661px #fff,
    1453px 1561px #fff, 1783px 96px #fff, 788px 1052px #fff, 634px 488px #fff,
    800px 942px #fff, 807px 527px #fff, 690px 1166px #fff, 1124px 760px #fff,
    712px 1157px #fff, 730px 1712px #fff, 1690px 1147px #fff, 649px 1713px #fff,
    1466px 244px #fff, 875px 1503px #fff, 1320px 434px #fff, 364px 1727px #fff,
    375px 1083px #fff, 78px 1765px #fff, 1552px 107px #fff, 1484px 777px #fff,
    1233px 1221px #fff, 1397px 1710px #fff, 67px 793px #fff, 893px 1084px #fff,
    1133px 663px #fff, 1303px 1771px #fff, 1379px 364px #fff, 1427px 1226px #fff,
    934px 1636px #fff, 534px 816px #fff, 1449px 300px #fff, 1200px 650px #fff,
    415px 889px #fff, 1149px 845px #fff, 140px 533px #fff, 1421px 219px #fff,
    728px 1388px #fff, 1829px 1602px #fff, 945px 618px #fff, 991px 1188px #fff,
    729px 113px #fff, 322px 1272px #fff, 1569px 433px #fff, 100px 1193px #fff,
    1393px 546px #fff, 671px 299px #fff, 405px 1659px #fff, 799px 1078px #fff,
    1051px 834px #fff, 1441px 407px #fff, 1363px 193px #fff, 1586px 1913px #fff,
    1888px 418px #fff, 152px 920px #fff, 139px 793px #fff, 894px 610px #fff,
    166px 456px #fff, 1564px 267px #fff, 295px 397px #fff, 1517px 876px #fff,
    1690px 999px #fff, 486px 1993px #fff, 1874px 1432px #fff, 1875px 1164px #fff,
    572px 1344px #fff, 656px 1322px #fff, 271px 355px #fff, 1933px 95px #fff,
    1845px 644px #fff, 1345px 1377px #fff, 309px 54px #fff, 1965px 1518px #fff,
    981px 549px #fff, 773px 535px #fff, 937px 390px #fff, 930px 1374px #fff,
    1565px 792px #fff, 771px 747px #fff, 1833px 1557px #fff, 305px 980px #fff,
    321px 1525px #fff, 1112px 582px #fff, 550px 1868px #fff, 1344px 725px #fff,
    1523px 256px #fff, 493px 1164px #fff, 848px 1389px #fff, 571px 1560px #fff,
    905px 852px #fff, 1405px 376px #fff, 1913px 284px #fff, 188px 938px #fff,
    833px 1503px #fff, 818px 1699px #fff, 1698px 1494px #fff, 910px 878px #fff,
    1263px 114px #fff, 390px 1667px #fff, 1301px 1151px #fff, 1343px 1123px #fff,
    1063px 29px #fff, 387px 1248px #fff, 474px 939px #fff, 472px 284px #fff,
    584px 740px #fff, 29px 414px #fff, 1674px 721px #fff, 742px 243px #fff,
    994px 1803px #fff, 1674px 1334px #fff, 1211px 1454px #fff,
    1878px 1216px #fff, 1590px 1381px #fff, 770px 911px #fff, 1400px 1849px #fff,
    717px 769px #fff, 155px 221px #fff, 1501px 1341px #fff, 70px 1028px #fff,
    1761px 1836px #fff, 1312px 651px #fff, 1705px 1096px #fff, 9px 881px #fff,
    532px 1579px #fff, 1719px 1109px #fff, 1505px 1129px #fff, 484px 1369px #fff,
    1432px 742px #fff, 1900px 907px #fff, 216px 1225px #fff, 1325px 828px #fff,
    1562px 74px #fff, 490px 1762px #fff, 1709px 244px #fff, 1954px 1053px #fff,
    1802px 1972px #fff, 958px 1824px #fff, 541px 1953px #fff, 878px 1399px #fff,
    723px 1792px #fff, 360px 181px #fff, 265px 965px #fff, 1011px 643px #fff,
    1582px 337px #fff, 1180px 1713px #fff, 112px 1611px #fff, 1052px 1334px #fff,
    583px 700px #fff, 1068px 1030px #fff, 1420px 1678px #fff, 443px 1475px #fff,
    935px 1084px #fff, 1859px 849px #fff, 1996px 344px #fff, 1989px 1253px #fff,
    326px 728px #fff, 61px 217px #fff, 700px 231px #fff, 1225px 1875px #fff,
    984px 667px #fff, 632px 1858px #fff, 638px 33px #fff, 731px 1665px #fff,
    747px 1279px #fff, 1256px 83px #fff, 1873px 336px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 498px 327px #fff, 698px 1163px #fff, 997px 1901px #fff,
    1581px 1937px #fff, 1254px 1336px #fff, 611px 991px #fff, 1207px 1749px #fff,
    558px 1977px #fff, 893px 987px #fff, 1688px 288px #fff, 1356px 275px #fff,
    336px 1594px #fff, 341px 1810px #fff, 421px 1806px #fff, 1142px 1925px #fff,
    1539px 1834px #fff, 1063px 163px #fff, 531px 1564px #fff, 699px 450px #fff,
    1108px 1376px #fff, 1295px 1117px #fff, 536px 1251px #fff, 479px 1351px #fff,
    162px 847px #fff, 274px 595px #fff, 589px 1854px #fff, 1735px 174px #fff,
    1046px 1734px #fff, 535px 587px #fff, 82px 1368px #fff, 492px 1658px #fff,
    1794px 995px #fff, 290px 10px #fff, 1131px 1541px #fff, 787px 650px #fff,
    1918px 536px #fff, 1489px 924px #fff, 1195px 1795px #fff, 924px 1650px #fff,
    1355px 770px #fff, 1623px 1859px #fff, 1526px 861px #fff, 1029px 1533px #fff,
    874px 1107px #fff, 616px 333px #fff, 901px 219px #fff, 959px 1048px #fff,
    551px 29px #fff, 1831px 1204px #fff, 684px 358px #fff, 1678px 1530px #fff,
    865px 675px #fff, 72px 626px #fff, 965px 1933px #fff, 1358px 562px #fff,
    1089px 1520px #fff, 1242px 1498px #fff, 1588px 1979px #fff,
    1685px 530px #fff, 1737px 468px #fff, 165px 1528px #fff, 1596px 1682px #fff,
    215px 255px #fff, 997px 1086px #fff, 1953px 1105px #fff, 12px 1944px #fff,
    1998px 163px #fff, 274px 1357px #fff, 318px 1264px #fff, 278px 1276px #fff,
    197px 117px #fff, 1399px 104px #fff, 696px 1312px #fff, 727px 1096px #fff,
    1096px 545px #fff, 911px 1703px #fff, 520px 760px #fff, 1683px 322px #fff,
    863px 886px #fff, 500px 1118px #fff, 24px 827px #fff, 996px 416px #fff,
    1169px 414px #fff, 1514px 1193px #fff, 803px 1432px #fff, 1962px 347px #fff,
    1160px 1891px #fff, 433px 232px #fff, 1456px 1117px #fff, 201px 541px #fff,
    732px 1310px #fff, 274px 1081px #fff, 689px 1133px #fff, 1167px 787px #fff,
    441px 1729px #fff, 452px 671px #fff, 882px 1395px #fff, 1700px 80px #fff,
    1881px 1530px #fff, 802px 791px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 498px 327px #fff, 698px 1163px #fff, 997px 1901px #fff,
    1581px 1937px #fff, 1254px 1336px #fff, 611px 991px #fff, 1207px 1749px #fff,
    558px 1977px #fff, 893px 987px #fff, 1688px 288px #fff, 1356px 275px #fff,
    336px 1594px #fff, 341px 1810px #fff, 421px 1806px #fff, 1142px 1925px #fff,
    1539px 1834px #fff, 1063px 163px #fff, 531px 1564px #fff, 699px 450px #fff,
    1108px 1376px #fff, 1295px 1117px #fff, 536px 1251px #fff, 479px 1351px #fff,
    162px 847px #fff, 274px 595px #fff, 589px 1854px #fff, 1735px 174px #fff,
    1046px 1734px #fff, 535px 587px #fff, 82px 1368px #fff, 492px 1658px #fff,
    1794px 995px #fff, 290px 10px #fff, 1131px 1541px #fff, 787px 650px #fff,
    1918px 536px #fff, 1489px 924px #fff, 1195px 1795px #fff, 924px 1650px #fff,
    1355px 770px #fff, 1623px 1859px #fff, 1526px 861px #fff, 1029px 1533px #fff,
    874px 1107px #fff, 616px 333px #fff, 901px 219px #fff, 959px 1048px #fff,
    551px 29px #fff, 1831px 1204px #fff, 684px 358px #fff, 1678px 1530px #fff,
    865px 675px #fff, 72px 626px #fff, 965px 1933px #fff, 1358px 562px #fff,
    1089px 1520px #fff, 1242px 1498px #fff, 1588px 1979px #fff,
    1685px 530px #fff, 1737px 468px #fff, 165px 1528px #fff, 1596px 1682px #fff,
    215px 255px #fff, 997px 1086px #fff, 1953px 1105px #fff, 12px 1944px #fff,
    1998px 163px #fff, 274px 1357px #fff, 318px 1264px #fff, 278px 1276px #fff,
    197px 117px #fff, 1399px 104px #fff, 696px 1312px #fff, 727px 1096px #fff,
    1096px 545px #fff, 911px 1703px #fff, 520px 760px #fff, 1683px 322px #fff,
    863px 886px #fff, 500px 1118px #fff, 24px 827px #fff, 996px 416px #fff,
    1169px 414px #fff, 1514px 1193px #fff, 803px 1432px #fff, 1962px 347px #fff,
    1160px 1891px #fff, 433px 232px #fff, 1456px 1117px #fff, 201px 541px #fff,
    732px 1310px #fff, 274px 1081px #fff, 689px 1133px #fff, 1167px 787px #fff,
    441px 1729px #fff, 452px 671px #fff, 882px 1395px #fff, 1700px 80px #fff,
    1881px 1530px #fff, 802px 791px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
