body,html{
    background-image: url('../background.jpg');
}

.container{
    padding-top: 3%;
    padding-bottom: 3%;
}
.card{
    background-color: whitesmoke;
    padding-top: -5%;
}

.card-title{
    font:bold; 
}

.header{
    text-align: center;
    color: white;
    padding-top: 5%
}


.card:hover .headcontext{
    display: block;
}

.head:hover {
    background-color: #d9534f;
    transition-delay: 0.2s;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.01);
}

.tech{
    background-color: #ffd656;
    transition-delay: 0.2s;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.01);
}

.project{
    transition-delay: 0.1s;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.01);
}

.border{
    border-bottom: .25rem solid transparent;
    background:black;
    color: white;
    font-family: Monospace;
}

.mastfoot {
    color: white;
    text-align: center;
    padding-top: 5%
}